flows.json
[{"id":"d031846a.aef2f8","type":"tab","label":"[Bot] Mattermost","disabled":false,"info":"Mattermost関係のリクエストを処理"},{"id":"d53a6117.58703","type":"tab","label":"[UI] TextAreaUI","disabled":false,"info":""},{"id":"a7c64a94.21e54","type":"tab","label":"[UI] TextAreaUIContext","disabled":false,"info":"Context機能を使って情報を保存"},{"id":"1ca599ac.fe6256","type":"tab","label":"[REST API] 各種API","disabled":false,"info":""},{"id":"a1f06b1c.a17a68","type":"tab","label":"[cron] 路線情報","disabled":false,"info":"Yahoo路線情報で運行情報を取得"},{"id":"a36981f5.6781d8","type":"subflow","name":"CommandWithCsvCfg","info":"Csvを引数に追加してコマンド実行","category":"","in":[{"x":60,"y":120,"wires":[{"id":"a1926358.19d08"}]}],"out":[{"x":1080,"y":180,"wires":[{"id":"9cb84f6d.3aad58","port":0}]},{"x":1080,"y":240,"wires":[{"id":"7a27d798.7ceaf8","port":1}]},{"x":1080,"y":300,"wires":[{"id":"7a27d798.7ceaf8","port":2}]}]},{"id":"f72d936a.3beef8","type":"subflow","name":"CommandWithCsvCfgContext","info":"Csv（globalコンテキスト）を引数に追加してコマンド実行","category":"","in":[{"x":60,"y":100,"wires":[{"id":"757cc26e.04c4ac"}]}],"out":[{"x":1100,"y":180,"wires":[{"id":"13489a27.a28ffe","port":0}]},{"x":1100,"y":260,"wires":[{"id":"7d9c6dd8.992f0c","port":1}]},{"x":1100,"y":340,"wires":[{"id":"7d9c6dd8.992f0c","port":2}]}]},{"id":"4f60575b.359798","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"25b6a0d6.c801f","type":"http in","z":"d031846a.aef2f8","name":"[POST] /mattermost","url":"/mattermost","method":"post","upload":false,"swaggerDoc":"","x":150,"y":40,"wires":[["f2ebca89.711818","ee8bb2b4.e97e"]]},{"id":"f2ebca89.711818","type":"debug","z":"d031846a.aef2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":40,"wires":[]},{"id":"8cba6b59.f102d","type":"http response","z":"d031846a.aef2f8","name":"","statusCode":"","headers":{},"x":2070,"y":320,"wires":[]},{"id":"b995c1ea.16714","type":"switch","z":"d031846a.aef2f8","name":"コマンドで分岐","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"echo","vt":"str"},{"t":"eq","v":"command","vt":"str"},{"t":"eq","v":"sub","vt":"str"},{"t":"eq","v":"sub2","vt":"str"},{"t":"eq","v":"crtbtb","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":460,"y":380,"wires":[["cb91fec2.e5c7"],["2476d364.8ac2dc"],["4a9803c.16ee67c"],["80f7ed59.73e518"],["73b0c75f.0d64b"],[]]},{"id":"ee8bb2b4.e97e","type":"function","z":"d031846a.aef2f8","name":"トリガーワードの除去","func":"var trigger_word = msg.payload.trigger_word;\nmsg.payload.text = msg.payload.text.slice(trigger_word.length).trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["492fa6db.74a86"]]},{"id":"2476d364.8ac2dc","type":"change","z":"d031846a.aef2f8","name":"echo","rules":[{"t":"set","p":"api","pt":"msg","to":"echo","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["ce0d7b0f.c48bd"]]},{"id":"4a9803c.16ee67c","type":"change","z":"d031846a.aef2f8","name":"command","rules":[{"t":"set","p":"api","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[["ce0d7b0f.c48bd"]]},{"id":"4e463fa0.9f6a08","type":"change","z":"d031846a.aef2f8","name":"payload設定（text）","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":320,"wires":[["9c66dbe4.b589c8"]]},{"id":"fa6380fb.e24038","type":"http in","z":"d53a6117.58703","name":"[GET] /config/:name","url":"/config/:name","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["b739b2d1.ef2818","da1cd525.7d9fc8"]]},{"id":"18a5564d.cc5392","type":"http response","z":"d53a6117.58703","name":"","statusCode":"","headers":{},"x":990,"y":240,"wires":[]},{"id":"9d38e058.9b5338","type":"template","z":"d53a6117.58703","name":"設定編集画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=UTF-8>\n        <title>設定編集画面</title>\n    </head>\n    <body>\n        <form id=\"form01\" action=\"/config/{{req.params.name}}\" method=\"post\">\n            <textarea id=\"ta01\" name=\"textarea\" cols=\"80\" rows=\"10\">{{payload}}</textarea>\n            <input type=\"submit\" value=\"更新\">\n        </form>\n    </body>\n</html>","output":"str","x":830,"y":240,"wires":[["18a5564d.cc5392"]]},{"id":"9ca071a9.16245","type":"file","z":"d53a6117.58703","name":"ファイルへ保存","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":600,"y":140,"wires":[[]]},{"id":"11273503.ac11fb","type":"http in","z":"d53a6117.58703","name":"[POST] /config/:name","url":"/config/:name","method":"post","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["a6794dcb.19097"]]},{"id":"a6794dcb.19097","type":"change","z":"d53a6117.58703","name":"ファイル名設定/テキストエリア値の抽出","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/data/userfile/config/\" & req.params.name & \".txt\"","tot":"jsonata"},{"t":"move","p":"payload.textarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":140,"wires":[["9ca071a9.16245","9d38e058.9b5338"]]},{"id":"1464b124.7327bf","type":"file in","z":"d53a6117.58703","name":"ファイルから読み込み","filename":"","format":"utf8","chunk":false,"sendError":false,"x":600,"y":320,"wires":[["9d38e058.9b5338"]]},{"id":"b739b2d1.ef2818","type":"change","z":"d53a6117.58703","name":"ファイル名設定","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/data/userfile/config/\" & req.params.name & \".txt\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":320,"wires":[["1464b124.7327bf"]]},{"id":"da1cd525.7d9fc8","type":"debug","z":"d53a6117.58703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":220,"wires":[]},{"id":"9b0a027e.211a6","type":"catch","z":"d53a6117.58703","name":"ファイル読み込み不可時は空文字扱い","scope":["1464b124.7327bf"],"x":370,"y":480,"wires":[["4cd51bbc.e1bbac","417bba2.d518744"]]},{"id":"4cd51bbc.e1bbac","type":"debug","z":"d53a6117.58703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":560,"wires":[]},{"id":"417bba2.d518744","type":"change","z":"d53a6117.58703","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["9d38e058.9b5338"]]},{"id":"c26a1cce.f3ab9","type":"http in","z":"a7c64a94.21e54","name":"[GET] /config/context/:name","url":"/config/context/:name","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["ed99abb6.cbe93","f9b67be.f166d88"]]},{"id":"a36864af.801eb","type":"http response","z":"a7c64a94.21e54","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"39e2d21d.a2c8d6","type":"template","z":"a7c64a94.21e54","name":"設定編集画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=UTF-8>\n        <title>設定編集画面</title>\n    </head>\n    <body>\n        <form id=\"form01\" action=\"/config/context/{{req.params.name}}\" method=\"post\">\n            <textarea id=\"ta01\" name=\"textarea\" cols=\"80\" rows=\"10\">{{payload}}</textarea>\n            <input type=\"submit\" value=\"更新\">\n        </form>\n    </body>\n</html>","output":"str","x":730,"y":220,"wires":[["a36864af.801eb"]]},{"id":"a28f3a2f.011178","type":"http in","z":"a7c64a94.21e54","name":"[POST] /config/context/:name","url":"/config/context/:name","method":"post","upload":false,"swaggerDoc":"","x":180,"y":40,"wires":[["cbb823a6.3c5f28"]]},{"id":"cbb823a6.3c5f28","type":"change","z":"a7c64a94.21e54","name":"テキストエリア値の抽出/保存","rules":[{"t":"set","p":"config","pt":"global","to":"(\t    $base := $globalContext(\"config\");\t    $key := req.params.name;\t    $value := payload.textarea;\t    \t    $merge([\t        $base,\t        {\t            $key: $value\t        }\t    ])\t)","tot":"jsonata"},{"t":"move","p":"payload.textarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[["4c2c68dc.e416","39e2d21d.a2c8d6"]]},{"id":"f9b67be.f166d88","type":"change","z":"a7c64a94.21e54","name":"設定の取得","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"config.\" & req.params.name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["3eec0893.470d88","39e2d21d.a2c8d6"]]},{"id":"ed99abb6.cbe93","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":300,"wires":[]},{"id":"3eec0893.470d88","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":280,"wires":[]},{"id":"30e75a5c.455c4e","type":"catch","z":"a7c64a94.21e54","name":"設定取得不可時は空文字扱い","scope":["f9b67be.f166d88"],"x":420,"y":460,"wires":[["fd41cd61.8ae6f","9a2ee95c.0542b"]]},{"id":"fd41cd61.8ae6f","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":540,"wires":[]},{"id":"9a2ee95c.0542b","type":"change","z":"a7c64a94.21e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["39e2d21d.a2c8d6"]]},{"id":"4c2c68dc.e416","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":40,"wires":[]},{"id":"7a27d798.7ceaf8","type":"exec","z":"a36981f5.6781d8","command":"echo","addpay":true,"append":"add","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":240,"wires":[["9cb84f6d.3aad58"],[],[]]},{"id":"62e6fa23.865edc","type":"csv","z":"a36981f5.6781d8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"111,テスト,aaa","skip":"0","x":390,"y":240,"wires":[["14bc58d0.f4012f"]]},{"id":"e4af029d.2001b8","type":"file in","z":"a36981f5.6781d8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":210,"y":240,"wires":[["62e6fa23.865edc"]]},{"id":"14bc58d0.f4012f","type":"change","z":"a36981f5.6781d8","name":"引数構築","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([\t    orgpayload,\t    payload.\"テスト\",\t    payload.\"111\"\t], \" \")\t","tot":"jsonata"},{"t":"set","p":"args","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["7a27d798.7ceaf8"]]},{"id":"a1926358.19d08","type":"change","z":"a36981f5.6781d8","name":"元payload退避／ファイル名設定","rules":[{"t":"move","p":"payload","pt":"msg","to":"orgpayload","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"/data/userfile/config/test.txt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":120,"wires":[["e4af029d.2001b8"]]},{"id":"80f7ed59.73e518","type":"change","z":"d031846a.aef2f8","name":"sub","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":440,"wires":[["ce0d7b0f.c48bd"]]},{"id":"7d9c6dd8.992f0c","type":"exec","z":"f72d936a.3beef8","command":"echo","addpay":true,"append":"add","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":220,"wires":[["13489a27.a28ffe"],[],[]]},{"id":"353c4eb6.e0ae9a","type":"csv","z":"f72d936a.3beef8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"111,テスト,aaa","skip":"0","x":430,"y":220,"wires":[["e8eb16f7.af4e88"]]},{"id":"e8eb16f7.af4e88","type":"change","z":"f72d936a.3beef8","name":"引数構築","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([\t    orgpayload,\t    payload.\"テスト\",\t    payload.\"111\"\t], \" \")\t","tot":"jsonata"},{"t":"set","p":"args","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["7d9c6dd8.992f0c"]]},{"id":"757cc26e.04c4ac","type":"change","z":"f72d936a.3beef8","name":"元payload退避／コンテキスト取得","rules":[{"t":"move","p":"payload","pt":"msg","to":"orgpayload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"config.test","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["353c4eb6.e0ae9a"]]},{"id":"73b0c75f.0d64b","type":"change","z":"d031846a.aef2f8","name":"sub2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":520,"wires":[["115a6660.238342"]]},{"id":"c9495ec4.470b2","type":"change","z":"d031846a.aef2f8","name":"payload設定（attachments）","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"attachments\": payload.(\t       {\t           \"pretext\": args,\t           \"text\": text\t       }\t   )\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":500,"wires":[["9c66dbe4.b589c8"]]},{"id":"9cb84f6d.3aad58","type":"change","z":"a36981f5.6781d8","name":"payload設定","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.args","pt":"msg","to":"args","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":180,"wires":[[]]},{"id":"13489a27.a28ffe","type":"change","z":"f72d936a.3beef8","name":"payload設定","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.args","pt":"msg","to":"args","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[[]]},{"id":"b8615c29.231108","type":"change","z":"d031846a.aef2f8","name":"response_type設定（comment）","rules":[{"t":"set","p":"payload.response_type","pt":"msg","to":"comment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":380,"wires":[["8cba6b59.f102d"]]},{"id":"2802e3a1.a5134c","type":"http in","z":"1ca599ac.fe6256","name":"[POST] /userapi/:name","url":"/userapi/:name","method":"post","upload":false,"swaggerDoc":"","x":245.56666564941406,"y":170.56666564941406,"wires":[["4cf59a91.469e6c","ebc14dc0.dc77"]]},{"id":"4cf59a91.469e6c","type":"debug","z":"1ca599ac.fe6256","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]},{"id":"3a33fd18.0d0d82","type":"http response","z":"1ca599ac.fe6256","name":"[ Response] JSON","statusCode":"","headers":{"content-type":"application/json"},"x":1070,"y":300,"wires":[]},{"id":"ebc14dc0.dc77","type":"switch","z":"1ca599ac.fe6256","name":"API名で分岐","property":"req.params.name","propertyType":"msg","rules":[{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"echo","vt":"str"},{"t":"eq","v":"command","vt":"str"},{"t":"eq","v":"sub","vt":"str"},{"t":"eq","v":"sub2","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":440,"wires":[["bf4295b0.78b4d8"],["7426cf60.c2c978"],["b0c5caef.9de188"],["297b31e7.87c996"],["a9f00f0d.195b18"]]},{"id":"bf4295b0.78b4d8","type":"change","z":"1ca599ac.fe6256","name":"ping","rules":[{"t":"set","p":"payload","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["3a33fd18.0d0d82"]]},{"id":"7426cf60.c2c978","type":"change","z":"1ca599ac.fe6256","name":"echo","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":360,"wires":[["3a33fd18.0d0d82"]]},{"id":"d7937e10.8d0df8","type":"exec","z":"1ca599ac.fe6256","command":"echo","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"echo","x":690,"y":440,"wires":[["3a33fd18.0d0d82"],[],[]]},{"id":"297b31e7.87c996","type":"subflow:a36981f5.6781d8","z":"1ca599ac.fe6256","name":"sub","x":530,"y":520,"wires":[["80295b02.5de648"],[],[]]},{"id":"a9f00f0d.195b18","type":"subflow:f72d936a.3beef8","z":"1ca599ac.fe6256","name":"sub2","x":530,"y":600,"wires":[["4eba1eca.eb3e48"],[],[]]},{"id":"80295b02.5de648","type":"join","z":"1ca599ac.fe6256","name":"改行で連結","mode":"custom","build":"string","property":"payload.text","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":520,"wires":[["3a33fd18.0d0d82"]]},{"id":"4eba1eca.eb3e48","type":"join","z":"1ca599ac.fe6256","name":"配列として連結","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":700,"y":600,"wires":[["3a33fd18.0d0d82"]]},{"id":"8b043b72.3bc0c8","type":"http request","z":"d031846a.aef2f8","name":"[Request] ユーザ作成API","method":"POST","ret":"txt","url":"http://localhost:1880/userapi/{{{api}}}","tls":"","x":1110,"y":320,"wires":[["4e463fa0.9f6a08"]]},{"id":"cb91fec2.e5c7","type":"change","z":"d031846a.aef2f8","name":"ping","rules":[{"t":"set","p":"api","pt":"msg","to":"ping","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["ce0d7b0f.c48bd"]]},{"id":"ce0d7b0f.c48bd","type":"change","z":"d031846a.aef2f8","name":"ヘッダ設定","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/text; charset=UTF-8\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":320,"wires":[["8b043b72.3bc0c8"]]},{"id":"115a6660.238342","type":"change","z":"d031846a.aef2f8","name":"ヘッダ設定","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json; charset=UTF-8\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":500,"wires":[["b1112161.1a0fb8"]]},{"id":"b1112161.1a0fb8","type":"http request","z":"d031846a.aef2f8","name":"[Request] ユーザ作成API","method":"POST","ret":"txt","url":"http://localhost:1880/userapi/{{{api}}}","tls":"","x":1110,"y":500,"wires":[["c9495ec4.470b2"]]},{"id":"ce29a82c.a638e8","type":"http in","z":"d031846a.aef2f8","name":"[POST] /mattermost/slash","url":"/mattermost/slash","method":"post","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["bb2ada86.b4ff2"]]},{"id":"492fa6db.74a86","type":"change","z":"d031846a.aef2f8","name":"commandの設定","rules":[{"t":"set","p":"payload.command","pt":"msg","to":"$lowercase($substringBefore(payload.text, \" \"))\t","tot":"jsonata"},{"t":"set","p":"payload.text","pt":"msg","to":"$substringAfter(payload.text, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["b995c1ea.16714"]]},{"id":"bb2ada86.b4ff2","type":"change","z":"d031846a.aef2f8","name":"スラッシュの除去","rules":[{"t":"set","p":"payload.command","pt":"msg","to":"$substringAfter(payload.command, \"/\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":400,"wires":[["b995c1ea.16714","1ac9ef11.d40f61"]]},{"id":"27b0174e.813588","type":"change","z":"d031846a.aef2f8","name":"/crtbtn","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"attachments\": [\t       {\t           \"text\": \"Interactive Message Buttons\",\t           \"actions\": [\t               {\t                   \"name\": \"Ephemeral Message\",\t                   \"integration\": {\t                       \"url\": \"http://nodered:1880/mattermost/btn\",\t                       \"context\": {\t                           \"api\": \"ping\",\t                           \"payload\": \"\"\t                       }\t                   }\t               },\t               {\t                   \"name\": \"Update\",\t                   \"integration\": {\t                       \"url\": \"http://nodered:1880/mattermost/btn\",\t                       \"context\": {\t                           \"api\": \"command\",\t                           \"payload\": \"aaa bbb\"\t                       }\t                   }\t               }\t           ]\t       }\t   ]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":620,"wires":[["bdc09ef4.7f896","5e0a5e2a.104fd8"]]},{"id":"bdc09ef4.7f896","type":"debug","z":"d031846a.aef2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"5e0a5e2a.104fd8","type":"change","z":"d031846a.aef2f8","name":"response_type設定（in_channel）","rules":[{"t":"set","p":"payload.response_type","pt":"msg","to":"in_channel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":620,"wires":[["15a131a6.fc39c6"]]},{"id":"1ac9ef11.d40f61","type":"switch","z":"d031846a.aef2f8","name":"特殊コマンド判定","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"crtbtn","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":620,"wires":[["27b0174e.813588"]]},{"id":"9c66dbe4.b589c8","type":"switch","z":"d031846a.aef2f8","name":"元リクエストのURLでresponse_type判断","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/mattermost/slash","vt":"str"},{"t":"eq","v":"/mattermost","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1720,"y":320,"wires":[["8cba6b59.f102d"],["b8615c29.231108"]]},{"id":"15a131a6.fc39c6","type":"http response","z":"d031846a.aef2f8","name":"","statusCode":"","headers":{},"x":1210,"y":620,"wires":[]},{"id":"b0c5caef.9de188","type":"change","z":"1ca599ac.fe6256","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"\\\"\" & $join($match(payload, /([^\\s]+)\\s+(.+)/i)[0].groups, \" | \") & \"\\\"\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["d7937e10.8d0df8"]]},{"id":"7eb42339.aca8d4","type":"inject","z":"a1f06b1c.a17a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["f42c8de4.62eb2"]]},{"id":"c8a56c5f.ae1c98","type":"http request","z":"a1f06b1c.a17a68","name":"[Request] Mattermost","method":"POST","ret":"txt","url":"http://mattermost:8065/hooks/36wx4gejs3r8tjgxmwcq9mknkw","tls":"","x":740,"y":400,"wires":[[]]},{"id":"cb92a582.cfd318","type":"change","z":"a1f06b1c.a17a68","name":"ヘッダ/URLリセット","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/text; charset=UTF-8\"}","tot":"json"},{"t":"delete","p":"url","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["c8a56c5f.ae1c98","5a1139b4.c2fba8"]]},{"id":"aac132c.90df05","type":"http request","z":"a1f06b1c.a17a68","name":"運行情報取得","method":"GET","ret":"txt","url":"","tls":"","x":460,"y":200,"wires":[["c1935df4.41e77"]]},{"id":"144d277.ba386d9","type":"csv","z":"a1f06b1c.a17a68","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"\"路線名\", \"路線情報URL\",\"出力チャンネル名\"","skip":"0","x":390,"y":120,"wires":[["5effbda.0dd7744"]]},{"id":"f42c8de4.62eb2","type":"change","z":"a1f06b1c.a17a68","name":"コンテキスト取得","rules":[{"t":"set","p":"payload","pt":"msg","to":"config.train","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":120,"wires":[["144d277.ba386d9"]]},{"id":"105fe8a7.a66c8f","type":"change","z":"a1f06b1c.a17a68","name":"ヘッダ設定","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json; charset=UTF-8\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":200,"wires":[["aac132c.90df05"]]},{"id":"5effbda.0dd7744","type":"change","z":"a1f06b1c.a17a68","name":"URL設定と路線名／チャンネル名退避","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.\"路線情報URL\"","tot":"jsonata"},{"t":"set","p":"channel","pt":"msg","to":"payload.\"出力チャンネル名\"","tot":"jsonata"},{"t":"set","p":"train_name","pt":"msg","to":"payload.\"路線名\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":120,"wires":[["105fe8a7.a66c8f"]]},{"id":"11cc27c4.98b16","type":"comment","z":"a1f06b1c.a17a68","name":"日本語項目名","info":"項目名が日本語だと`msg.payload.項目名`や`msg.payload.\"項目名\"`で値が取得できなかったため、ひとまずJSONataを使用","x":650,"y":80,"wires":[]},{"id":"c1935df4.41e77","type":"html","z":"a1f06b1c.a17a68","name":"トラブル情報抜き出し","property":"payload","outproperty":"payload","tag":".trouble > p","ret":"text","as":"multi","x":700,"y":200,"wires":[["76e676e0.d39b7"]]},{"id":"76e676e0.d39b7","type":"switch","z":"a1f06b1c.a17a68","name":"トラブル有無チェック","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":280,"wires":[["5730caf.eab7e34"]]},{"id":"5a1139b4.c2fba8","type":"debug","z":"a1f06b1c.a17a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":460,"wires":[]},{"id":"5730caf.eab7e34","type":"change","z":"a1f06b1c.a17a68","name":"payload構築","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.text","pt":"msg","to":"\":warning: \" & train_name & \" : \" &payload.text","tot":"jsonata"},{"t":"move","p":"channel","pt":"msg","to":"payload.channel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["cb92a582.cfd318"]]},{"id":"cae57774.b3d508","type":"http in","z":"d031846a.aef2f8","name":"[POST] /mattermost/btn","url":"/mattermost/btn","method":"post","upload":false,"swaggerDoc":"","x":140,"y":820,"wires":[["e86bf4d4.5654c8","8c075c0c.9aa9d"]]},{"id":"bc472b2c.9c7978","type":"http response","z":"d031846a.aef2f8","name":"[ Response] JSON","statusCode":"","headers":{"content-type":"application/json"},"x":1010,"y":980,"wires":[]},{"id":"b790f363.9eeb48","type":"http request","z":"d031846a.aef2f8","name":"[Request] ユーザ作成API","method":"POST","ret":"txt","url":"http://localhost:1880/userapi/{{{api}}}","tls":"","x":370,"y":980,"wires":[["4d86f029.f227b"]]},{"id":"7261b3e0.668e84","type":"change","z":"d031846a.aef2f8","name":"ヘッダ設定","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/text; charset=UTF-8\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":900,"wires":[["b790f363.9eeb48"]]},{"id":"e86bf4d4.5654c8","type":"change","z":"d031846a.aef2f8","name":"API呼び出し情報取得","rules":[{"t":"set","p":"api","pt":"msg","to":"payload.context.api","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.context.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":900,"wires":[["7261b3e0.668e84"]]},{"id":"8c075c0c.9aa9d","type":"debug","z":"d031846a.aef2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":800,"wires":[]},{"id":"4d86f029.f227b","type":"change","z":"d031846a.aef2f8","name":"プライベートメッセージとして返却","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.ephemeral_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":980,"wires":[["bc472b2c.9c7978"]]}]