flows.json
[{"id":"d031846a.aef2f8","type":"tab","label":"/mattermost","disabled":false,"info":"`/mattermost`および`/mattermost/slash`へのリクエストを処理"},{"id":"fe4cc48d.71aca8","type":"tab","label":"/mattermost/slash","disabled":false,"info":"`/mattermost/slash`へのリクエストを処理"},{"id":"d53a6117.58703","type":"tab","label":"[UI] TextAreaUI","disabled":false,"info":""},{"id":"3c3b0659.0573f2","type":"subflow","name":"Subflow 1","info":"CSV設定ファイルを使ってコマンド実行","category":"function","in":[{"x":120,"y":100,"wires":[{"id":"3bc990e1.419e3"}]}],"out":[{"x":880,"y":280,"wires":[{"id":"a1f7000a.ee0a7","port":0},{"id":"f9b728f9.0f31a","port":0}]}]},{"id":"25b6a0d6.c801f","type":"http in","z":"d031846a.aef2f8","name":"/mattermost","url":"/mattermost","method":"post","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["f2ebca89.711818","ee8bb2b4.e97e"]]},{"id":"f2ebca89.711818","type":"debug","z":"d031846a.aef2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":40,"wires":[]},{"id":"8cba6b59.f102d","type":"http response","z":"d031846a.aef2f8","name":"mattermost","statusCode":"","headers":{},"x":970,"y":160,"wires":[]},{"id":"22c0e674.6c86da","type":"debug","z":"fe4cc48d.71aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":140,"wires":[]},{"id":"7b80c9f2.acb608","type":"http response","z":"fe4cc48d.71aca8","name":"mattermost","statusCode":"","headers":{},"x":790,"y":340,"wires":[]},{"id":"ad4b0c42.e4a4c8","type":"http in","z":"fe4cc48d.71aca8","name":"/mattermost/slash","url":"/mattermost/slash","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["22c0e674.6c86da","b36df4a7.4f8008"]]},{"id":"b995c1ea.16714","type":"switch","z":"d031846a.aef2f8","name":"textで分岐","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"^ping$","vt":"str","case":true},{"t":"regex","v":"^echo\\s+(.+)","vt":"str","case":true},{"t":"regex","v":"^command\\s+(.+)","vt":"str","case":true},{"t":"regex","v":"^sub\\s+(.+)","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":300,"wires":[["b426e0f2.818ce"],["2476d364.8ac2dc"],["4a9803c.16ee67c"],["888a91f6.48887"]]},{"id":"b426e0f2.818ce","type":"change","z":"d031846a.aef2f8","name":"PING","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["8cba6b59.f102d"]]},{"id":"ee8bb2b4.e97e","type":"function","z":"d031846a.aef2f8","name":"トリガーワードの除去","func":"var trigger_word = msg.payload.trigger_word;\nmsg.payload.text = msg.payload.text.slice(trigger_word.length).trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["b995c1ea.16714"]]},{"id":"2476d364.8ac2dc","type":"change","z":"d031846a.aef2f8","name":"echo","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"$match(payload.text, /^echo\\s+(.+)/i)[0].groups[0]\t","tot":"jsonata"},{"t":"set","p":"payload.response_type","pt":"msg","to":"comment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["8cba6b59.f102d","f2ebca89.711818"]]},{"id":"4a9803c.16ee67c","type":"change","z":"d031846a.aef2f8","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match(payload.text, /^command\\s+(.+)/i)[0].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["2913bdfb.c67f52"]]},{"id":"2913bdfb.c67f52","type":"exec","z":"d031846a.aef2f8","command":"echo","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":340,"wires":[["4e463fa0.9f6a08"],[],[]]},{"id":"4e463fa0.9f6a08","type":"change","z":"d031846a.aef2f8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.response_type","pt":"msg","to":"comment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":340,"wires":[["8cba6b59.f102d","f2ebca89.711818"]]},{"id":"b36df4a7.4f8008","type":"switch","z":"fe4cc48d.71aca8","name":"commandで分岐","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"/ping","vt":"str"},{"t":"eq","v":"/echo2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":340,"wires":[["9f1ecf60.0ba4e8"],["5b79012e.99506"]]},{"id":"9f1ecf60.0ba4e8","type":"change","z":"fe4cc48d.71aca8","name":"/ping","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["7b80c9f2.acb608"]]},{"id":"5b79012e.99506","type":"change","z":"fe4cc48d.71aca8","name":"/echo2","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["7b80c9f2.acb608"]]},{"id":"a1f7000a.ee0a7","type":"exec","z":"3c3b0659.0573f2","command":"echo","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":710,"y":220,"wires":[[],[],[]]},{"id":"3bc990e1.419e3","type":"change","z":"3c3b0659.0573f2","name":"","rules":[{"t":"set","p":"payload.config","pt":"msg","to":"[{\"id\":\"a\",\"name\":\"11\"},{\"id\":\"b\",\"name\":\"okada\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":100,"wires":[["1c34295a.7dcfef"]]},{"id":"1c34295a.7dcfef","type":"switch","z":"3c3b0659.0573f2","name":"","property":"payload.config.name","propertyType":"jsonata","rules":[{"t":"cont","v":"payload.user_name","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":220,"wires":[["8da274b5.b4f83"],["f9b728f9.0f31a"]]},{"id":"888a91f6.48887","type":"change","z":"d031846a.aef2f8","name":"sub","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"$match(payload.text, /^sub\\s+(.+)/i)[0].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["152d7bbc.41e4dc","ec66528a.443ef8"]]},{"id":"f9b728f9.0f31a","type":"change","z":"3c3b0659.0573f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[[]]},{"id":"8da274b5.b4f83","type":"change","z":"3c3b0659.0573f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $n := payload.user_name;\t    $join(payload.config[name=$n].*, \" \")\t)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["a1f7000a.ee0a7","c86c82bc.6a9568"]]},{"id":"c86c82bc.6a9568","type":"debug","z":"3c3b0659.0573f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"152d7bbc.41e4dc","type":"debug","z":"d031846a.aef2f8","name":"eee","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":440,"wires":[]},{"id":"ec66528a.443ef8","type":"subflow:3c3b0659.0573f2","z":"d031846a.aef2f8","name":"","x":600,"y":520,"wires":[["4e463fa0.9f6a08"]]},{"id":"8cfe3681.df1628","type":"file in","z":"3c3b0659.0573f2","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":110,"y":360,"wires":[["4d4978b1.10f448"]]},{"id":"4d4978b1.10f448","type":"csv","z":"3c3b0659.0573f2","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":270,"y":360,"wires":[["2d0b0bfc.b7bd94"]]},{"id":"2d0b0bfc.b7bd94","type":"join","z":"3c3b0659.0573f2","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":250,"y":160,"wires":[[]]},{"id":"fa6380fb.e24038","type":"http in","z":"d53a6117.58703","name":"","url":"/config/:name","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["1464b124.7327bf"]]},{"id":"18a5564d.cc5392","type":"http response","z":"d53a6117.58703","name":"","statusCode":"","headers":{},"x":870,"y":120,"wires":[]},{"id":"9d38e058.9b5338","type":"template","z":"d53a6117.58703","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":660,"y":120,"wires":[["18a5564d.cc5392"]]},{"id":"9ca071a9.16245","type":"file","z":"d53a6117.58703","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":670,"y":60,"wires":[[]]},{"id":"11273503.ac11fb","type":"http in","z":"d53a6117.58703","name":"[POST] /config/:name","url":"/config/:name","method":"post","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["a6794dcb.19097"]]},{"id":"a6794dcb.19097","type":"change","z":"d53a6117.58703","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["9ca071a9.16245","9d38e058.9b5338"]]},{"id":"1464b124.7327bf","type":"file in","z":"d53a6117.58703","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":370,"y":140,"wires":[["9d38e058.9b5338"]]}]