flows.json
[{"id":"d031846a.aef2f8","type":"tab","label":"/mattermost","disabled":false,"info":"`/mattermost`および`/mattermost/slash`へのリクエストを処理"},{"id":"fe4cc48d.71aca8","type":"tab","label":"/mattermost/slash","disabled":false,"info":"`/mattermost/slash`へのリクエストを処理"},{"id":"d53a6117.58703","type":"tab","label":"[UI] TextAreaUI","disabled":false,"info":""},{"id":"a7c64a94.21e54","type":"tab","label":"[UI] TextAreaUIContext","disabled":false,"info":"Context機能を使って情報を保存"},{"id":"25b6a0d6.c801f","type":"http in","z":"d031846a.aef2f8","name":"/mattermost","url":"/mattermost","method":"post","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["f2ebca89.711818","ee8bb2b4.e97e"]]},{"id":"f2ebca89.711818","type":"debug","z":"d031846a.aef2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":40,"wires":[]},{"id":"8cba6b59.f102d","type":"http response","z":"d031846a.aef2f8","name":"","statusCode":"","headers":{},"x":970,"y":80,"wires":[]},{"id":"22c0e674.6c86da","type":"debug","z":"fe4cc48d.71aca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":140,"wires":[]},{"id":"7b80c9f2.acb608","type":"http response","z":"fe4cc48d.71aca8","name":"mattermost","statusCode":"","headers":{},"x":790,"y":340,"wires":[]},{"id":"ad4b0c42.e4a4c8","type":"http in","z":"fe4cc48d.71aca8","name":"/mattermost/slash","url":"/mattermost/slash","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["22c0e674.6c86da","b36df4a7.4f8008"]]},{"id":"b995c1ea.16714","type":"switch","z":"d031846a.aef2f8","name":"textで分岐","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"^ping$","vt":"str","case":true},{"t":"regex","v":"^echo\\s+(.+)","vt":"str","case":true},{"t":"regex","v":"^command\\s+(.+)","vt":"str","case":true},{"t":"regex","v":"^sub\\s+(.+)","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":300,"wires":[["b426e0f2.818ce"],["2476d364.8ac2dc"],["4a9803c.16ee67c"],[],["24cd269a.754502"]]},{"id":"b426e0f2.818ce","type":"change","z":"d031846a.aef2f8","name":"PING","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["8cba6b59.f102d"]]},{"id":"ee8bb2b4.e97e","type":"function","z":"d031846a.aef2f8","name":"トリガーワードの除去","func":"var trigger_word = msg.payload.trigger_word;\nmsg.payload.text = msg.payload.text.slice(trigger_word.length).trim();\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":140,"wires":[["b995c1ea.16714"]]},{"id":"2476d364.8ac2dc","type":"change","z":"d031846a.aef2f8","name":"echo","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"$match(payload.text, /^echo\\s+(.+)/i)[0].groups[0]\t","tot":"jsonata"},{"t":"set","p":"payload.response_type","pt":"msg","to":"comment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":300,"wires":[["8cba6b59.f102d"]]},{"id":"4a9803c.16ee67c","type":"change","z":"d031846a.aef2f8","name":"command","rules":[{"t":"set","p":"payload","pt":"msg","to":"$match(payload.text, /^command\\s+(.+)/i)[0].groups[0]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["2913bdfb.c67f52"]]},{"id":"2913bdfb.c67f52","type":"exec","z":"d031846a.aef2f8","command":"echo","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":340,"wires":[["4e463fa0.9f6a08"],[],[]]},{"id":"4e463fa0.9f6a08","type":"change","z":"d031846a.aef2f8","name":"payload設定","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.response_type","pt":"msg","to":"comment","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[["8cba6b59.f102d"]]},{"id":"b36df4a7.4f8008","type":"switch","z":"fe4cc48d.71aca8","name":"commandで分岐","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"/ping","vt":"str"},{"t":"eq","v":"/echo2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":340,"wires":[["9f1ecf60.0ba4e8"],["5b79012e.99506"]]},{"id":"9f1ecf60.0ba4e8","type":"change","z":"fe4cc48d.71aca8","name":"/ping","rules":[{"t":"set","p":"payload.text","pt":"msg","to":"PONG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["7b80c9f2.acb608"]]},{"id":"5b79012e.99506","type":"change","z":"fe4cc48d.71aca8","name":"/echo2","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["7b80c9f2.acb608"]]},{"id":"fa6380fb.e24038","type":"http in","z":"d53a6117.58703","name":"[GET] /config/:name","url":"/config/:name","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["b739b2d1.ef2818","da1cd525.7d9fc8"]]},{"id":"18a5564d.cc5392","type":"http response","z":"d53a6117.58703","name":"","statusCode":"","headers":{},"x":990,"y":240,"wires":[]},{"id":"9d38e058.9b5338","type":"template","z":"d53a6117.58703","name":"設定編集画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=UTF-8>\n        <title>設定編集画面</title>\n    </head>\n    <body>\n        <form id=\"form01\" action=\"/config/{{req.params.name}}\" method=\"post\">\n            <textarea id=\"ta01\" name=\"textarea\" cols=\"80\" rows=\"10\">{{payload}}</textarea>\n            <input type=\"submit\" value=\"更新\">\n        </form>\n    </body>\n</html>","output":"str","x":830,"y":240,"wires":[["18a5564d.cc5392"]]},{"id":"9ca071a9.16245","type":"file","z":"d53a6117.58703","name":"ファイルへ保存","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":600,"y":140,"wires":[[]]},{"id":"11273503.ac11fb","type":"http in","z":"d53a6117.58703","name":"[POST] /config/:name","url":"/config/:name","method":"post","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["a6794dcb.19097"]]},{"id":"a6794dcb.19097","type":"change","z":"d53a6117.58703","name":"ファイル名設定/テキストエリア値の抽出","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/data/userfile/config/\" & req.params.name & \".txt\"","tot":"jsonata"},{"t":"move","p":"payload.textarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":140,"wires":[["9ca071a9.16245","9d38e058.9b5338"]]},{"id":"1464b124.7327bf","type":"file in","z":"d53a6117.58703","name":"ファイルから読み込み","filename":"","format":"utf8","chunk":false,"sendError":false,"x":600,"y":320,"wires":[["9d38e058.9b5338"]]},{"id":"b739b2d1.ef2818","type":"change","z":"d53a6117.58703","name":"ファイル名設定","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/data/userfile/config/\" & req.params.name & \".txt\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":320,"wires":[["1464b124.7327bf","6d721651.aefac"]]},{"id":"da1cd525.7d9fc8","type":"debug","z":"d53a6117.58703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":260,"wires":[]},{"id":"6d721651.aefac","type":"debug","z":"d53a6117.58703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":400,"wires":[]},{"id":"9b0a027e.211a6","type":"catch","z":"d53a6117.58703","name":"ファイル読み込み不可時は空文字扱い","scope":["1464b124.7327bf"],"x":410,"y":500,"wires":[["4cd51bbc.e1bbac","417bba2.d518744"]]},{"id":"4cd51bbc.e1bbac","type":"debug","z":"d53a6117.58703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":580,"wires":[]},{"id":"417bba2.d518744","type":"change","z":"d53a6117.58703","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["9d38e058.9b5338"]]},{"id":"c26a1cce.f3ab9","type":"http in","z":"a7c64a94.21e54","name":"[GET] /config/context/:name","url":"/config/context/:name","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["ed99abb6.cbe93","f9b67be.f166d88"]]},{"id":"a36864af.801eb","type":"http response","z":"a7c64a94.21e54","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"39e2d21d.a2c8d6","type":"template","z":"a7c64a94.21e54","name":"設定編集画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=UTF-8>\n        <title>設定編集画面</title>\n    </head>\n    <body>\n        <form id=\"form01\" action=\"/config/context/{{req.params.name}}\" method=\"post\">\n            <textarea id=\"ta01\" name=\"textarea\" cols=\"80\" rows=\"10\">{{payload}}</textarea>\n            <input type=\"submit\" value=\"更新\">\n        </form>\n    </body>\n</html>","output":"str","x":730,"y":220,"wires":[["a36864af.801eb"]]},{"id":"a28f3a2f.011178","type":"http in","z":"a7c64a94.21e54","name":"[POST] /config/context/:name","url":"/config/context/:name","method":"post","upload":false,"swaggerDoc":"","x":180,"y":40,"wires":[["cbb823a6.3c5f28"]]},{"id":"cbb823a6.3c5f28","type":"change","z":"a7c64a94.21e54","name":"テキストエリア値の抽出/保存","rules":[{"t":"set","p":"config","pt":"global","to":"(\t    $base := $globalContext(\"config\");\t    $key := req.params.name;\t    $value := payload.textarea;\t    \t    $merge([\t        $base,\t        {\t            $key: $value\t        }\t    ])\t)","tot":"jsonata"},{"t":"move","p":"payload.textarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[["4c2c68dc.e416","39e2d21d.a2c8d6"]]},{"id":"f9b67be.f166d88","type":"change","z":"a7c64a94.21e54","name":"設定の取得","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"confg.\" & req.params.name)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["3eec0893.470d88","39e2d21d.a2c8d6"]]},{"id":"ed99abb6.cbe93","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":300,"wires":[]},{"id":"3eec0893.470d88","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":280,"wires":[]},{"id":"30e75a5c.455c4e","type":"catch","z":"a7c64a94.21e54","name":"設定取得不可時は空文字扱い","scope":["f9b67be.f166d88"],"x":420,"y":460,"wires":[["fd41cd61.8ae6f","9a2ee95c.0542b"]]},{"id":"fd41cd61.8ae6f","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":540,"wires":[]},{"id":"9a2ee95c.0542b","type":"change","z":"a7c64a94.21e54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["39e2d21d.a2c8d6"]]},{"id":"4c2c68dc.e416","type":"debug","z":"a7c64a94.21e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":40,"wires":[]},{"id":"24cd269a.754502","type":"change","z":"d031846a.aef2f8","name":"空レスポンス","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":440,"wires":[["8cba6b59.f102d"]]}]